{% extends 'widgets/base.html' %}


{#border: 1px solid #ced4da !important;#}

{% block base %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <style>
    input{
        border: 1px solid #ced4da !important;
    }
    p{
            color: #007bff;
    }
    </style>
    <!-- Title Page -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
             style="background-image: url({% static 'images/heading-pages-01.jpg' %});">
        <h2 class="l-text2 t-center">
            CHANGE PASSWORD
        </h2>
    </section>

    {% if user.is_authenticated %}
        {# You logged in as {{ user.username }}#}
        <div class="container mt-3 mb-3" style="border: 1px solid #ced4da !important;max-width: 500px">
            <form class="form-control-label mt-3 mb-3" action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class=" btn btn-danger">Change password</button>
            </form>
             <a href="{% url 'user:home' %}" class="btn btn-primary mb-2">Back
                Profile</a>

        </div>
    {% else %}
        <div class="container mt-3 text-center mb-3">
            <a href="{% url 'user:login' %}" style="font-size: 20px">login</a> / <a href="{% url 'user:signup' %}"
                                                                                    style="font-size: 20px">signup</a>
        </div>
    {% endif %}

{% endblock %}

{% block containerSelection %}
    {% include 'widgets/containerSelection2.html' %}
{% endblock %}

{% block script %}
    {% include 'registration/script.html' %}
{% endblock %}
