{% extends 'widgets/base.html' %}


{% block base %}
    {% load static %}
    <!-- Title Page -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
             style="background-image: url({% static 'images/heading-pages-01.jpg' %});">
        <h2 class="l-text2 t-center">
            CHANGE PASSWORD
        </h2>
    </section>

    {% if user.is_authenticated %}
        {# You logged in as {{ user.username }}#}
        <div class="container mt-3 mb-3">
        <h4 style="color: green" class="text-center">Password changed with success !</h4>
        </div>
    {% else %}
        <div class="container mt-3 text-center mb-3">
            <a href="{% url 'user:login' %}" style="font-size: 20px">login</a> / <a href="{% url 'user:signup' %}"
                                                                                    style="font-size: 20px">signup</a>
        </div>
    {% endif %}

{% endblock %}

{% block containerSelection %}
    {% include 'widgets/containerSelection2.html' %}
{% endblock %}

{% block script %}
    {% include 'registration/script.html' %}
{% endblock %}
