<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container mt-3 mb-3" style="max-width: 500px;border: 1px solid #ced4da !important;" >
    <form method="POST">
        {% csrf_token %}
        <div class="form-group " >
            <label> Username:</label>
            <label class="form-control"  style="color: red">{{ user.username }}</label>
        </div>
        <div class="form-group">
            <label> Full name:</label>
            <input class="form-control " style="border: 1px solid #ced4da !important;" value="{{ user.full_name }}" name="full_name" required id="id_full_name">
        </div>
        <div class="form-group">
            <label> Email:</label>
            <p><input class="form-control" style="border: 1px solid #ced4da !important;" value="{{ user.email }}" name="email" required id="id_email"></p>
        </div>
        <div class="form-group">
            <label> Phone number:</label>
            <p><input class="form-control" style="border: 1px solid #ced4da !important;" value="{{ user.phone_number }}" name="phone_number" required id="id_phone_number"></p>
        </div>
{#        {{ order.form_ap }}#}
        <button type="submit" class="btn btn-danger mb-2">Update</button>

    </form>
    <span style='color:red'>{{ err }} </span>
        <a href="{% url 'user:home' %}" class="btn btn-primary mb-2">Back
                Profile</a>
</div>
