{% extends 'base.html' %}
{% load static %}

{% block base %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="{% url 'adminshop:quantri' %}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active">Quản lý sản phẩm</li>
            </ol>
        </div><!--/.row-->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-center" style="color: #30a5ff"><img
                        src="{% static 'images/icons/logo2.png' %}" style="max-height: 50px" alt="">Quản lý sản phẩm<img
                        src="{% static 'images/icons/logo2.png' %}" style="max-height: 50px" alt=""></h2>
            </div>
        </div><!--/.row-->
        <div class="container pt-3">
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <table class="table table-form">
                    {{ form }}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form }}
                    {% endfor %}
                </table>
                <button class="btn btn-primary" type="submit">Lưu lại</button>
                <a class="btn btn-secondary" href='{% url "adminshop:product-list" %}'>Quay lại</a>
            </form>
        </div>
    </div>
{% endblock %}