<!-- Content page -->
{% load static %}
{% load custom_filter %}
{% load humanize %}
<section class="bgwhite p-t-30 p-b-20">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <div class="leftbar p-r-20 p-r-0-sm">
                    <!--  -->
                    <h4 class="m-text14 p-b-7">
                        Categories
                    </h4>
                    <!--category-productsr-->
                    <div class="panel-group category-products" id="accordian">
                        <h4 class="panel-title">
                            <a data-parent="#accordian" href="{% url 'product:product' %}">
                                All
                            </a>
                        </h4>
                        {% for m in mn %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordian" href="#{{ m.id }}">
                                            {% if m.id|hasChild == "True" %}
                                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                            {% endif %}
                                            {{ m.name }}
                                        </a>
                                    </h4>
                                </div>
                                {% if m.id|hasChild == "True" %}
                                    <div id="{{ m.id }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                {% for child in m.id|getChild %}
                                                    <li><a href="{{ child.id }}">{{ child.name }} </a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    <!--  -->
                    <h4 class="m-text14 p-b-10">
                        Filters
                    </h4>

                    <div class="flex-sb-m flex-w p-b-35 panel-group category-products">
                        <form>
                            <div class="mt-2 ">
                                <div>
                                    <label class='label-title'>Name Product</label>
                                </div>
                                <div class="rs2-select2 bo4 of-hidden  m-t-5 m-b-5 m-r-10">

                                    <input style="border: 1px solid #5e5e5e" name='product_name'
                                           value="{{ queryParams.product_name }}" class="s-text7 size6 p-l-23 p-r-50"
                                           placeholder="name product">
                                </div>
                            </div>

                            <div class="mt-4 ">
                                <div><label class='label-title'>Type product</label></div>
                                <div class="rs2-select2 bo4 of-hidden  m-t-5 m-b-5 m-r-10">
                                    <select name='category_id' class="selection-2">
                                        <option value="">All</option>
                                        {% for c in categoryList %}
                                            <option {% if c.id == queryParams.category_id|add:0 %} selected {% endif %}
                                                                                                   value="{{ c.id }}">{{ c.name }}</option>
                                        {% endfor %}
                                        <!-- add chuyển từ string sang số nguyên -->
                                    </select>
                                </div>
                            </div>

                            <div class="mt-4">
                                <div>
                                    <label class='label-title'>Range</label>
                                </div>
                                <div class="rs2-select2 bo4 of-hidden  m-t-5 m-b-5 m-r-10">
                                    <select name='price_range' class="selection-2">
                                        <option value="">All</option>
                                        <option {% if queryParams.price_range == '1' %} selected {% endif %} value="1">
                                            0.00 - 500K
                                        </option>
                                        <option {% if queryParams.price_range == '2' %} selected {% endif %} value="2">
                                            500K - 1Tr
                                        </option>
                                        <option {% if queryParams.price_range == '3' %} selected {% endif %} value="3">
                                            1Tr - 2Tr
                                        </option>
                                        <option {% if queryParams.price_range == '4' %} selected {% endif %} value="4">
                                            2Tr +
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <br>
                            <button class="btn btn-dark">Search</button>
                        </form>
                    </div>


                    {#                    <div class="search-product pos-relative bo4 of-hidden">#}
                    {##}
                    {#                        <form action="{% url 'product:search-product' %}" method="GET">#}
                    {#                            {% csrf_token %}#}
                    {#                            <input class="s-text7 size6 p-l-23 p-r-50" type="text" value="{{ product_name }}"#}
                    {#                                   name="search-product"#}
                    {#                                   placeholder="Search Products...">#}
                    {##}
                    {#                            <button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">#}
                    {#                                <i class="fs-12 fa fa-search" aria-hidden="true"></i>#}
                    {#                            </button>#}
                    {#                        </form>#}
                    {#                    </div>#}


                </div>
            </div>

            <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                <!--  -->
                <div class="flex-sb-m flex-w p-b-10">
                    <div class="flex-w">
                        {#                        <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">#}
                        {#                            <select class="selection-2" name="sorting">#}
                        {#                                <option>Default Sorting</option>#}
                        {#                                <option>Popularity</option>#}
                        {#                                <option>Price: low to high</option>#}
                        {#                                <option>Price: high to low</option>#}
                        {#                            </select>#}
                        {#                        </div>#}
                        {##}
                        {#                        <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">#}
                        {#                            <select class="selection-2" name="sorting">#}
                        {#                                <option>Price</option>#}
                        {#                                <option>$0.00 - $50.00</option>#}
                        {#                                <option>$50.00 - $100.00</option>#}
                        {#                                <option>$100.00 - $150.00</option>#}
                        {#                                <option>$150.00 - $200.00</option>#}
                        {#                                <option>$200.00+</option>#}
                        {##}
                        {#                            </select>#}
                        {#                        </div>#}
                    </div>

                    <span class="s-text8 p-t-5 p-b-5" style="color: #007bff ;font-size: 18px">
                        Search found   {{ count }} results
                    </span>
                </div>

                <!-- Product -->
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative {% if product.new == 1 %} block2-labelnew {% elif product.promotion_price != 0 and product.new == 0 %} block2-labelsale {% else %}{% endif %}">
                                    <img src="{{ product.image.url }}" alt="IMG-PRODUCT">

                                    <div class="block2-overlay trans-0-4">
                                        <div class="block2-btn-addcart w-size1 trans-0-4">
                                            <!-- Button -->
                                            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4"
                                                    onclick="addcart({{ product.id }})">
                                                Add to Cart
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="block2-txt p-t-20">
                                    <a href="{% url 'product:product-detail' product.id %}"
                                       class="block2-name dis-block s-text3 p-b-5">
                                        {{ product.name }}
                                    </a>

                                    {% if product.promotion_price == 0 %}
                                        <span class="block2-price m-text6 p-r-5">
									{{ product.unit_price|intcomma }} VNĐ
							        	</span>
                                    {% else %}
                                        <span class="block2-oldprice m-text7 p-r-5">
                                        {{ product.unit_price|intcomma }} VNĐ
                                        </span>
                                        <span class="block2-newprice m-text8 p-r-5">
                                    {{ product.promotion_price|intcomma }} VNĐ
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination flex-m flex-w p-t-15 ">
                            <span class="step-links">
                                {% if num_pages > 1 %}
                                    <a class="" href="?product_name={{queryParams.product_name}}&category_id={{ queryParams.category_id }}&price_range={{ queryParams.price_range }}&page=1" style="float:left"><h1>&laquo;&nbsp; </h1></a>

                                    {% if page > 1 %}
                                        <a class="" href="?product_name={{queryParams.product_name}}&category_id={{ queryParams.category_id }}&price_range={{ queryParams.price_range }}&page={{ page|add:-1 }}" style="float:left"><h1>&lsaquo;&nbsp;</h1></a>
                                    {% else %}
                                        <a class="" style="float:left"><h1>&lsaquo;&nbsp;</h1></a>
                                    {% endif %}

                                    {% if page < num_pages %}
                                        <a style="float:left" class="" href="?product_name={{queryParams.product_name}}&category_id={{ queryParams.category_id }}&price_range={{ queryParams.price_range }}&page={{ page|add:1 }}"><h1>&rsaquo;&nbsp;</h1></a>
                                    {% else %}
                                        <a class="" style="float:left"><h1>&rsaquo;&nbsp;</h1></a>
                                    {% endif %}

                                    <a class="" style="float:left" href="?product_name={{queryParams.product_name}}&category_id={{ queryParams.category_id }}&price_range={{ queryParams.price_range }}&page={{ num_pages }}"><h1>&raquo;&nbsp;</h1></a>
                                    <br>
                                    <span>Page {{ page }} of {{ num_pages }}</span>
                                {% endif %}
                            </span>
                </div>
            </div>
        </div>
    </div>
</section>
