{% extends 'widgets/base.html' %}


{% block base %}
    {% load static %}
    <!-- Title Page -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
             style="background-image: url({% static 'images/heading-pages-01.jpg' %});">
        <h2 class="l-text2 t-center">
            Cart
        </h2>
    </section>

    <!---Total--Cart--->
    {% if checkout %}
        <div class="text-center pt-3 pb-3">
             <h2 style="font-size: 30px;color: #007bff" class="s-text5">Successful Transaction</h2>
        </div>
    {% else %}
        {% if request.session.cart %}
            {% include 'cart/totalCart.html' %}
        {% else %}
            <div class="text-center pt-3 pb-3">
             <h2 style="font-size: 30px" class="s-text5">Cart empty</h2>
            </div>
        {% endif %}

    {% endif %}

{% endblock %}


{% block containerSelection %}
    {% include 'widgets/containerSelection2.html' %}
{% endblock %}

{% block script %}
    {% include 'cart/script.html' %}
{% endblock %}