{% extends 'base.html' %}
{% load static %}

{% block base %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active">Đơn đã duyệt</li>
            </ol>
        </div><!--/.row-->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-center" style="color: #30a5ff"><img
                        src="{% static 'images/icons/logo2.png' %}" style="max-height: 50px" alt="">Tất cả đơn đã duyệt<img
                        src="{% static 'images/icons/logo2.png' %}" style="max-height: 50px" alt=""></h2>
                 <div style="margin-bottom: 5px">
                    <a href="{% url 'adminshop:tat-ca-duyet-don' %}" class="btn btn-primary">Đơn chưa duyệt</a>
                    <a href="{% url 'adminshop:tat-ca-don-da-duyet' %}" class="btn btn-danger">Đơn đã duyệt</a>
                    <a href="{% url 'adminshop:tat-ca-don-da-huy' %}" class="btn btn-warning">Đơn đã hủy</a>

                    <a href="{% url 'adminshop:order-management' %}" class="btn btn-info">Tất cả</a>
                </div>
            </div>
        </div><!--/.row-->
        <div>
            <table class="table table-bordered text-center">
                <tr style="text-align: center">
{#                    <th class="text-center">Mã KH</th>#}
                    <th class="text-center">Mã Đơn Hàng</th>
                    <th class="text-center">Tên KH</th>
                    <th class="text-center">Email KH</th>
                    <th class="text-center">SĐT</th>
                    <th class="text-center">Thông tin</th>
                    <th class="text-center">Trạng thái</th>
                </tr>
                {% for od in order %}
                    <tr>
{#                        <td><a href="{% url 'adminshop:order-detail' od.id %}">KH00{{ od.customeruser_id }}</a></td>#}
                        <td>
                            {% for cc in od.cart_set.all %}
                                <a href="{% url 'adminshop:order-detail' od.id %}">ĐH00{{ cc.id }}</a> <br>
                            {% endfor %}
                        </td>
                        <td>{{ od.name }}</td>
                        <td>{{ od.email }}</td>
                        <td>{{ od.phone_number }}</td>
                        <td class="text-left" style="max-width: 250px">
                            <div>Địa chỉ :{{ od.address }}</div>
                            <br>
                            <div>Ghi chú :{{ od.note }}</div>
                            <br>
                            <div>Ngày tạo :{{ od.created_at }}</div>
                        </td>
                        <td>
                                {% if od.active == False and od.cancel == False %}
                                    <a  href="{% url 'adminshop:order-detail' od.id %}" class="btn btn-primary">Chờ duyệt</a>
                                {% elif od.active == True and od.cancel == False %}
                                    <a href="{% url 'adminshop:order-detail' od.id %}" class="btn btn-danger">Đã duyệt</a>
                                {% elif od.active == False and od.cancel == True %}
                                    <a href="{% url 'adminshop:order-detail' od.id %}" class="btn btn-default" style="color: red">Đã hủy</a>
                                 {% elif od.active == True and od.cancel == True %}
                                   <h5 style="color: red">404_error</h5>
                                {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}