{% extends 'base.html' %}
{% load static %}

{% block base %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active">Trang chủ</li>
            </ol>
        </div><!--/.row-->
        <div class="row container" style="padding-top:10px">
            © Bản quyền thuộc về HiImST: <a href="https://www.facebook.com/sontung2101">https://www.facebook.com/sontung2101</a>
        </div>
    <div class="row" style="margin-left: 90px">
         <img src="{% static 'images/icons/logo2.png' %}" style="max-height: 300px" alt="">
    </div>
    </div>
{% endblock %}