{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block base %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active">Quản lý đơn hàng</li>
            </ol>
        </div><!--/.row-->
        <div class="row">
            <div class="col-lg-12">

                <h2 class="page-header text-center" style="color: #30a5ff"><img
                        src="{% static 'images/icons/logo2.png' %}" style="max-height: 50px" alt="">Tất cả đơn hàng<img
                        src="{% static 'images/icons/logo2.png' %}" style="max-height: 50px" alt=""></h2>
                <div style="margin-bottom: 5px">
                    <a href="{% url 'adminshop:tat-ca-duyet-don' %}" class="btn btn-primary">Đơn chưa duyệt</a>
                    <a href="{% url 'adminshop:tat-ca-don-da-duyet' %}" class="btn btn-danger">Đơn đã duyệt</a>
                    <a href="{% url 'adminshop:tat-ca-don-da-huy' %}" class="btn btn-warning">Đơn đã hủy</a>

                    <a href="{% url 'adminshop:order-management' %}" class="btn btn-info">Tất cả</a>
                </div>
            </div>
        </div><!--/.row-->
        <div>
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">Mã đơn hàng</th>
                    <th class="text-center">Sản phẩm đặt mua</th>
                    <th class="text-center">Thông tin đơn hàng</th>
                </tr>
                {% for ct in parter.cart_set.all %}

                    <td class="text-center ">ĐH00{{ ct.id }}</td>

                    <td>
                        {% for ci in ct.cartitem_set.all %}
                            <div class="" style="border-bottom: 1px solid #ffa037 !important; ">
                                <ul>
                                    <li class="text-center mt-2">
                                        <img style="max-height: 70px" class="img-thumbnail"
                                             src="{{ ci.Products.image.url }}" alt="IMG-PRODUCT">
                                    </li>
                                    <li class="text-center ">Sản phẩm :{{ ci.Products.name }}</li>
                                    <li class="text-center ">Số lượng :{{ ci.quantity }}</li>
                                    <li class="text-center">Đơn giá :{{ ci.unit_price|intcomma }} VNĐ</li>
                                </ul>
                            </div>
                        {% endfor %}
                    </td>

                    <td>
                        <ul>
                            <li class="text-left">Ngày mua : {{ parter.created_at }}</li>
                            <li class="text-left">Địa chỉ : {{ parter.address }}</li>
                            <li class="text-left">Ghi chú : {{ parter.note }}</li>
                            <li class="text-left">Tổng tiền : {{ ct.total|intcomma }} VNĐ</li>
                        </ul>
                        <div class="text-center">
                            {% if parter.active == False and parter.cancel == False %}
                                <button onclick="duyetDon({{ parter.id }})" class="btn btn-primary">Duyệt đơn</button>
                            {% elif parter.active == True and parter.cancel == False %}
                                <button onclick="huyDuyet({{ parter.id }})" class="btn btn-danger">Huỷ duyệt</button>
                                {#                                     <a href="{% url 'adminshop:huy-duyet' parter.id %}" class="btn btn-danger">Hủy duyệt</a>#}
                            {% elif parter.active == False and parter.cancel == True %}
                                <button onclick="boHuyDon({{ parter.id }})" class="btn btn-warning">Bỏ Hủy Đơn</button>
                                {#                                    <a href="{% url 'adminshop:bo-huy-don' parter.id %}" class="btn btn-danger">Bỏ Hủy Đơn </a>#}
                            {% elif parter.active == True and parter.cancel == True %}
                                <h5 style="color: red">404_error</h5>
                            {% endif %}
                        </div>
                    </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}